$extra-lg-desktop-width:1921px;
$lg-desktop-width: 1200px;
$md-desktop-width: 992px;
$sm-tablets-width: 768px;
$sm-mobile-width: 480px;
$extra-sm-mobile-width: 320px;

@mixin elg-desktop {
    @media only screen and (min-width: #{$extra-lg-desktop-width}) {
      @content
    }
};


@mixin lg-desktop {
    @media only screen and (max-width:calc(#{$extra-lg-desktop-width} - 1px)) and (min-width: #{$lg-desktop-width}) {
      @content
    }
  };

@mixin md-desktop {
    @media only screen and (max-width:calc(#{$lg-desktop-width} - 1px)) and (min-width: #{$md-desktop-width}) {
      @content
    }
};
  @mixin sm-tablets {
    @media only screen and (max-width:calc(#{$md-desktop-width} - 1px)) and (min-width: #{$sm-tablets-width}) {
      @content
    }
};
  
@mixin sm-mobile {
    @media only screen and (max-width:calc(#{$sm-tablets-width} - 1px)) and (min-width: #{$sm-mobile-width}) {
      @content
    }
};
  
@mixin esm-mobile {
    @media only screen and (max-width:calc(#{$sm-mobile-width} - 1px))and (min-width:0) {
      @content
    }
}